body{
    background-color: navajowhite;
}
.nav{
    display: flex;
    background-color: #363636;
    height: 75px;
    width: 100%;
    border-radius: 5px;
}
.navhead{
    color: navajowhite;
    text-align: center;
    margin: auto;
}